<!DOCTYPE html>
<html>
<head>
  <title>Onyx Echoes | Come seaside and I'll be waiting....</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
